
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.container > * {
    flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
}

.org-chart {
    display: flex;
    margin: auto;
    width: auto;
}

.org-chart  ul {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    position: relative;
}

.org-chart  li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.org-chart  li::before, .org-chart li::after {
    content: '';
    position: absolute;
    border-top: 1px solid #ccc;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
}

.org-chart li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.org-chart li:only-child::after, .org-chart li:only-child::before {
    display: none;
}

.org-chart  li:only-child {
    padding-top: 0;
}

.org-chart li:first-child::before, .org-chart li:last-child:after {
    border: 0 none;
}

.org-chart li:last-child:before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.org-chart ul ul::before {
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    margin-left: -1px;
}

.org-chart li a {
    border: 1px solid #ccc;
    padding: 30px 50px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma, serif;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-chart li a:hover, .org-chart li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.org-chart  li a:hover+ul li::after, .org-chart  li a:hover+ul li::before, .org-chart  li a:hover+ul::before, .org-chart  li a:hover+ul ul::before {
    border-color: #94a0b4;
}