@import "org-chart.css";
@import "card.css";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.container > * {
    flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
}

.org-chart {
    width: 100%;
    overflow-x: scroll;
}

.breadscumbs {
    border: 1px solid #ccc;
    background-color: #efefef;
    height: 20%;
    font-size: 20px;
    padding: 10px;
}

#root-path {
    display: inline-block;
    color: #14B1E7;
}

.font-icon {
    color: #14B1E7;
    font-size: 30px;
}