
.org-chart {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.org-chart ul {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    position: relative;
}

.org-chart li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.org-chart  li::before, .org-chart li::after {
    content: '';
    position: absolute;
    border-top: 2px solid #b5b5b5;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
}

.org-chart li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #ccc;
}

.org-chart li:only-child::after, .org-chart li:only-child::before {
    display: none;
}

.org-chart  li:only-child {
    padding-top: 0;
}

.org-chart li:first-child::before, .org-chart li:last-child:after {
    border: 0 none;
}

.org-chart li:last-child:before {
    border-right: 2px solid #b5b5b5;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 2px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.org-chart ul ul::before {
    content:'';
    position: absolute;
    top: -5px;
    left: 50%;
    border-left: 2px solid #b5b5b5;
    width: 0;
    height: 27px;
    margin-left: -1px;
}